#set global $title = "About the weather station"
#include "header.inc"

        <div class="rows">
          <div class="small-12 large-6 columns">
          <p>Station Location
            <ul>
              <li>Latitude: $station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]</li>
              <li>Longitude: $station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]</li>
              <li>Altitude: $station.altitude</li>
            </ul>
          </p>
          <p>
            The weather station is a Davis Vantage Pro located on Orcas Island in NW Washington State.
            The software displaying this page is <a href="http://www.weewx.com">'weewx'</a>, an experimental
            weather software system written in Python. Weewx was designed to be simple, fast, and easy to understand by
            leveraging modern software concepts.
          </p>
          <p><a href="RSS/weewx_rss.xml">RSS feed</a></p>
          <p><a href="mobile.html">Mobile formatted</a></p>
          <p><a href="smartphone/index.html">Smartphone formatted</a></p>
          </div>
          <div class="small-12 large-6 columns">
        <h3>Uptime and server info</h3>
          <p>Uptime:
            <ul>
              <li>weewx: $station.uptime</li>
              <li>server: $station.os_uptime</li>
             </ul>
           </p>
           <p>Current memory usage:
             <ul>
               <li>Total: $latest(data_binding="mem_binding").mem_size.format("%4.3f") MB</li>
               <li>RSS: $latest(data_binding="mem_binding").mem_rss.format("%4.3f") MB</li>
               <li>Shared: $latest(data_binding="mem_binding").mem_share.format("%4.3f") MB</li>
             </ul>
           </p>

          <h3>Credits and versions</h3>
            <p>
              weewx: v$station.version
              skin version: $Extras.version<br/>
              forecast version: $forecast.version<br/>
              memory version: $mem.version<br/>
            </p>
          </div>
        </div>

#include "footer.inc"
