#set global $title = "About the weather station"
#include "header.inc"

        <div class="rows">
          <div class="small-12 large-6 columns">
            <h3>Information</h3>
            <p>
              The weather station is a wireless Davis Vantage Pro2 with a solar
              radiation sensor located on Orcas Island in NW Washington State.
            </p>
            <p>
              The software that handles the data downloading and this
              website generation is
              <a href="http://www.weewx.com">'WeeWX'</a>, an
              experimental weather software system written in Python.
              WeeWX was designed to be simple, fast, and easy to
              understand by leveraging modern software concepts.
            </p>
            <h3>Location</h3>
              <ul>
                <li>Latitude: $station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]</li>
                <li>Longitude: $station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]</li>
                <li>Altitude: $station.altitude</li>
              </ul>
            <h3>History</h3>
            <p>
              The Davis Vantage Pro2 was installed in September 2018. It replaced
              a wireless Vantage Pro that was installed in 2001, periodically upgraded
              and repaired over the years. It was out of service for three weeks for 
              a major upgrade in March 2015.
            </p>
            <p>
              During a computer upgrade, all pre-2014 data was lost due to lousy system
              administration skills.
            </p>
            <p>
              On 1 October 2015 the station was moved about 40 yards from its
              mount close to a house to a stand-along pole well
              away from buildings. While this makes for a more solid
              installation, the anemometer is a bit more shielded from the
              wind and the solar radiation sensor is shaded by trees for a
              few hours a day. The new VP2 is in the same location.
          </div>  <!-- .small-12 .large-6 -->

          <div class="small-12 large-6 columns">
          <h3>Server information</h3>
            <p>
              The WeeWX software runs on a Raspberry Pi Model B+ running
              Raspbian "stretch" Debian 9.4. The HTML generated by WeeWX
              is uploaded to an Amazon S3 bucket which is configured as
	            a static website.
            </p>
            <p>Uptime:
              <ul>
                <li>weewx: $station.uptime</li>
                <li>server: $station.os_uptime</li>
              </ul>
            </p>

          <h3>Credits and versions</h3>
            <ul>
              <li>WeeWX version: <a href="http://www.weewx.com/">$station.version</a></li>
              <li>orcas skin version: <a href="https://github.com/wmadill/weewx-orcas-skin">$Extras.version</a></li>
            #if $varExists('forecast')
              <li>forecast version: <a href="http://lancet.mit.edu/mwall/projects/weather/">$forecast.version</a></li>
            #else
              <!-- forecasting is not installed -->
            #end if
            </ul>
          <h3>Miscellany</h3>
            <p><a href="RSS/weewx_rss.xml">RSS feed</a></p>
          </div>  <!-- .small-12 .large-6 -->
        </div>  <!-- .rows -->

#include "footer.inc"
