#set global $title = "Forecast"

#include "header.inc"

## forecast display for weewx - Copyright 2012-2013 Matthew Wall
## heavily modified by Bill 9/2017
## version = 0.1
##
## Include this file to display forecast data.  This file uses icons from the
## forecast icon set.
##

#if $varExists('forecast')

## Which forecast should be displayed?  Options include WU, NWS
#set $forecast_source = 'NWS'

## How many forecast periods should be considered?
#set $num_periods = 40

#set $wloc = ''
#set $wts = ''
#set $show_hourly = 1

<script type='text/javascript'>
function toggle(control, id) {
  elem = document.getElementById(id + '.hours');
  if(elem) {
    if(elem.style.display != 'none') {
      elem.style.display = 'none';
      control.src = 'images/icons/triangle-right.png'
    } else {
      elem.style.display = 'inline';
      control.src = 'images/icons/triangle-down.png'
    }
  }
}
</script>

<div class="row">
  <div class="small-12 columns hide-for-small-only">

  <div class='legend'>
    <table>
      <tr>
        <td class='disclosure'>&nbsp;</td>
        <td class='col-date'>&nbsp;</td>
        <td class='col-outlook'>&nbsp;</td>
        <td class='col-temp'><img src='images/icons/thermometer-red.png' class='legend-img' alt='T' title='temperature' /><br/><span class='units'>$unit.label.outTemp</span></td>
        <td class='col-dewpoint'><img src='images/icons/thermometer-dewpoint.png' class='legend-img' alt='D' title='dewpoint' /><br/><span class='units'>$unit.label.dewpoint</span></td>
        <td class='col-humidity'><img src='images/icons/thermometer-blue.png' class='legend-img' alt='H' title='humidity' /><br/><span class='units'>$unit.label.outHumidity</span></td>
        <td class='col-wind' style='text-align:center'><img src='images/icons/flag.png' class='legend-img' alt='W' title='wind' /><br/><span class='units'>$unit.label.wind</span></td>
        <td class='col-pop'><img src='images/icons/pop.png' class='legend-img' alt='PoP' title='probability of precipitation' /><br/><span class='units'>$unit.label.rain</span></td>
        <td class='col-precip'>&nbsp;</td>
        <td class='col-obvis'>&nbsp;</td>
      </tr>
    </table>
  </div>


## Some forecasts return 16-points of the compass, but the icons support
## only 8-points.  This dictionary maps the 16 points to 8 points.
#set $wind_dir_dict = {'SSW':'SW','WSW':'SW','NNW':'NW','WNW':'NW','SSE':'SE','ESE':'SE','NNE':'NE','ENE':'NE'}

#set $lastday = None
#set $periods = $forecast.weather_periods($forecast_source, max_events=$num_periods)
#for $period in $periods
  #set $thisday = $period.event_ts.format('%d')
  #set $thisdate = $period.event_ts.format('%Y.%m.%d')
  #set $smryid = $forecast_source + '.' + $thisdate
  #set $hourid = $forecast_source + '.' + $thisdate + '.hours'
  #set $alm = $forecast.almanac(ts=$period.event_ts.raw+10)
  #set $nextday_ts = time.mktime(time.strptime($thisdate + ' 00:00', '%Y.%m.%d %H:%M')) + 24*3600
  #if $alm.hasExtras
    #set $sunrise_ts = $alm.sunrise.raw
    #set $sunset_ts = $alm.sunset.raw
    #set $moonrise_ts = $alm.moon.rise.raw
    #set $moonset_ts = $alm.moon.set.raw
  #else
    ## non-pyephem sunrise/sunset is not a ValueHelper so do conversions
    #set $sunrise_ts = time.mktime(time.strptime($thisdate + ' ' + $alm.sunrise, '%Y.%m.%d %H:%M'))
    #set $sunset_ts = time.mktime(time.strptime($thisdate + ' ' + $alm.sunset, '%Y.%m.%d %H:%M'))
  #end if
  #set $wts = $period.issued_ts

  #if $lastday != $thisday
    #if $lastday is not None
    </table>
  </div>
    #end if
    #set $lastday = $thisday
    #set $summary = $forecast.weather_summary($forecast_source, $period.event_ts.raw, periods=$periods)
    #set $wloc = $summary.location
    ## Would be nice to get the forecast location description but it is not in the forecast info
    ## For example:
    ## set $wdesc = $summary.desc

  <div id='$smryid' class='summary'>
    <table>
      <tr>
        <td class='disclosure'><img src='images/icons/triangle-right.png' onclick="toggle(this, '$smryid')" /></td>
        <td class='col-date'>
          <span class='day'>$summary.event_ts.format('%a')</span><br/>
          <span class='date'>$summary.event_ts.format('%d %b %Y')</span>
        </td>
        <td class='col-outlook'>
    #if $summary.clouds is not None
      #set $simg = 'images/icons/' + $summary.clouds + '.png'
          <img class='outlook-img' src='$simg' alt='$summary.clouds' title='$forecast.label('Weather', $summary.clouds)' />
    #end if
        </td>
        <td class='col-temp'><span class='temphi'>$summary.tempMax.nolabel('%.0f')</span><br/><span class='templo'>$summary.tempMin.nolabel('%.0f')</span></td>
        <td class='col-dewpoint'>$summary.dewpointMax.nolabel('%.0f')<br/>$summary.dewpointMin.nolabel('%.0f')</td>
        <td class='col-humidity'>$summary.humidityMax.nolabel('%.0f',' ')<br/>$summary.humidityMin.nolabel('%.0f',' ')</td>
        <td class='col-wind'
    #if $summary.windDirs is not None
            style='vertical-align:middle; text-align:center; background: url()
      #for $d in $summary.windDirs
        #set $winddir_img = 'images/icons/' + $wind_dir_dict.get($d,$d) + '.png'
            ,url($winddir_img)
      #end for
            ; background-repeat:no-repeat; background-position:center; background-size:32px;'
    #end if
            >
    #if $summary.windSpeedMin == $summary.windSpeedMax or $summary.windSpeedMin.raw == $summary.windSpeedMax.raw
          $summary.windSpeedMin.nolabel('%.0f',' ')
    #else
          $summary.windSpeedMin.nolabel('%.0f',' ')-$summary.windSpeedMax.nolabel('%.0f',' ')
    #end if
          <span class='windgust'>$summary.windGust.nolabel('%.0f',' ')</span>$summary.windChar
        </td>
        <td class='col-pop'>
  #if $summary.pop.raw is not None and $summary.pop.raw > 0
          $summary.pop.format('%.0f','')<br/>
    #if $summary.qpf.raw is not None and $summary.qpf.raw > 0
          $summary.qpf.nolabel('%.2f','') <img class='pop-img' src='images/icons/raindrop.png' /><br/>
    #end if
    #if $summary.qsf.raw is not None and $summary.qsf.raw > 0
          $summary.qsf.nolabel('%.2f','') <img class='pop-img' src='images/icons/snowflake.png' />
    #end if
  #end if
        </td>
        <td class='col-precip'>
  #for $k in $summary.precip
    #set $precip_img = 'images/icons/' + $k + '.png'
         <img class='precip-img' src='$precip_img' alt='$k' title='$forecast.label('Weather', $k)' />
  #end for
        </td>
        <td class='col-obvis'>
  #for $k in $summary.obvis
    #set $obvis_img = 'images/icons/' + $k + '.png'
         <img class='obvis-img' src='$obvis_img' alt='$k' title='$forecast.label('Weather', $k)' />
  #end for
        </td>
      </tr>
    </table>
  </div>

  <div id='$hourid' class='period' style='display:none'>
    <table>
  #end if ## lastday != thisday

  #set $hour = $period.event_ts.format('%H:%M')
      <tr>
        <td class='disclosure'></td>
        <td class='col-date'>$hour<br/></td>
        <td class='col-outlook'>
  #if $period.clouds is not None
    #if $sunrise_ts < $period.event_ts.raw < $sunset_ts
      #set $outlook_img = 'images/icons/' + $period.clouds + '.png'
    #else
      #set $outlook_img = 'images/icons/' + $period.clouds + 'n.png'
    #end if
          <img class='outlook-img' src='$outlook_img' alt='$period.clouds' title='$forecast.label('Weather', $period.clouds)' />
  #end if
        </td>
        <td class='col-temp'>$period.temp.nolabel('%.0f')</td>
        <td class='col-dewpoint'>$period.dewpoint.nolabel('%.0f')</td>
        <td class='col-humidity'>$period.humidity.nolabel('%.0f',' ')</td>
        <td class='col-wind'
  #if $period.windDir is not None
    #set $winddir_img = 'images/icons/' + $wind_dir_dict.get($period.windDir,$period.windDir) + '.png'
          background='$winddir_img' style='text-align:center; background-repeat:no-repeat; background-position:center; background-size:32px;'
  #end if
            >
          $period.windSpeed.nolabel('%.0f',' ') <span class='windgust'>$period.windGust.nolabel('%.0f',' ')</span>$period.windChar<br/>
        </td>
        <td class='col-pop'>
  #if $period.pop.raw is not None and $period.pop.raw > 0
          $period.pop.format('%.0f',' ')<br/>
    #if $period.qpf.raw is not None and $period.qpf.raw > 0
          $period.qpf.nolabel('%.2f',' ') <img class='pop-img' src='images/icons/raindrop.png' /><br/>
    #end if
    #if $period.qsf.raw is not None and $period.qsf.raw > 0
          $period.qsf.nolabel('%.2f',' ') <img class='pop-img' src='images/icons/snowflake.png' />
    #end if
  #end if
        </td>
        <td class='col-precip'>
          <table width='100%'><tr>
  #for $k,$v in $period.precip.items()
          <td>
    #set $precip_img = 'images/icons/' + $k + '.png'
            <img class='precip-img' src='$precip_img' alt='$k' title='$forecast.label('Weather', $k)' />
            <br/>
    #if $v != ''
            $forecast.label('Weather', $v+'q')
    #else
            &nbsp;
    #end if
          </td>
  #end for
          </tr></table>
        </td>
        <td class='col-obvis'>
  #if $period.obvis is not None
    #set $obvis_img = 'images/icons/' + $period.obvis + '.png'
          <img class='obvis-img' src='$obvis_img' alt='$period.obvis' title='$forecast.label('Weather', $period.obvis)' />
  #end if
        </td>
      </tr>
#end for ## period in periods

    </table>
  </div>

    <p>
      $forecast_source forecast
#if $wloc is not None and $wloc != ''
 for $wloc
#end if
#if $wts is not None and $wts != ''
 issued on $wts
#end if
    <br/>
    <a href="https://forecast.weather.gov/product.php?site=NWS&issuedby=SEW&product=AFD&format=txt" target="_blank">Forecast Discussion</a>
   </p>
</div>  <!-- .hide-for-small-only -->

<div class="small-12 columns show-for-small-only">
<table>
#set $show_hourly = 1
#set $lastday = None
#for $period in $periods
  #set $thisday = $period.event_ts.format('%d')
  #set $thisdate = $period.event_ts.format('%Y.%m.%d')
  #set $smryid = $forecast_source + '.' + $thisdate
  #set $hourid = $forecast_source + '.' + $thisdate + '.hours'
  #set $alm = $forecast.almanac(ts=$period.event_ts.raw+10)
  #set $nextday_ts = time.mktime(time.strptime($thisdate + ' 00:00', '%Y.%m.%d %H:%M')) + 24*3600
  #set $wts = $period.issued_ts

  #if $lastday != $thisday
      #if $lastday is not None
    <tr class="separator"><td class="separator" colspan="9"><hr class="separator"></td></tr>
      #end if
    #set $lastday = $thisday
    #set $summary = $forecast.weather_summary($forecast_source, $period.event_ts.raw, periods=$periods)
    #set $wloc = $summary.location

      <tr>
        <td class='col-date' colspan="8">
          <span class='day'>$summary.event_ts.format('%a')</span>
          <span class='date'>$summary.event_ts.format('%d %b %Y')</span>
        </td>
      </tr>

  #end if ## lastday != thisday

  #set $hour = $period.event_ts.format('%H:%M')
      <tr>
        <td class='disclosure'></td>
        <td class='col-date'>$hour<br/></td>
        <td class='col-outlook'>
  #if $period.clouds is not None
          $forecast.label('Weather', $period.clouds) 
  #end if
        </td>
        <td class='col-temp'>$period.temp.nolabel('%.0f')</td>
        <td class='col-dewpoint'>$period.dewpoint.nolabel('%.0f')</td>
        <td class='col-humidity'>$period.humidity.nolabel('%.0f',' ')</td>
        <td class='col-wind'>
  #if $period.windDir is not None
          $period.windDir&nbsp;
  #end if
          $period.windSpeed.nolabel('%.0f',' ') <span class='windgust'>$period.windGust.nolabel('%.0f',' ')</span>$period.windChar
        </td>
        <td class='col-pop'>
  #if $period.pop.raw is not None and $period.pop.raw > 0
          $period.pop.format('%.0f',' ')
    #if $period.qpf.raw is not None and $period.qpf.raw > 0
          <br/>$period.qpf.nolabel('%.2f',' ')&nbsp;R
    #end if
    #if $period.qsf.raw is not None and $period.qsf.raw > 0
          <br/>$period.qsf.nolabel('%.2f',' ')&nbsp;S
    #end if
  #end if
        </td>
        <td class='col-precip'>
  #for $k,$v in $period.precip.items()
            $forecast.label('Weather', $k)
    #if $v != ''
            $forecast.label('Weather', $v+'q')
    #else
            &nbsp;
    #end if
            <br/>
  #end for
        </td>
        <td class='col-obvis'>
  #if $period.obvis is not None
    #set $obvis_img = 'images/icons/' + $period.obvis + '.png'
          <img class='obvis-img' src='$obvis_img' alt='$period.obvis' title='$forecast.label('Weather', $period.obvis)' />
  #end if
        </td>
      </tr>
#end for ## period in periods

</table> 
    <p>
      $forecast_source forecast
#if $wloc is not None and $wloc != ''
 for $wloc
#end if
#if $wts is not None and $wts != ''
 issued on $wts
#end if
  <br/>
    <a href="https://forecast.weather.gov/product.php?site=NWS&issuedby=SEW&product=AFD&format=txt" target="_blank">Forecast Discussion</a>
  </p>
</div>  <!-- .show-for-small-only -->

#if $forecast.zambretti.code is not None and $forecast.zambretti.code != ''
<h1>Zambretti</h1>
<p>
The forecast is $forecast.label('Zambretti', $forecast.zambretti.code)<br/>
<span style="font-size: 8pt; font-style: italic; color: #aaaaaa;">
Issued at $forecast.zambretti.issued_ts
</span>
</p>
#end if
  </div>  <!-- .row -->

#else

<!-- forecasting is not installed -->
<b>Forecast extension is not installed.</b>

#end if

#include "footer.inc"
