tr.separator {
  height: .2em;
}
td.separator {
  width: 100%;
}
hr.separator {
  padding: 0; 
  margin: 0;
  border-color: #888;
}
li.tab-title {
  width: 8em;
}

/***
.disclosure {
  width: 5%;
}
.col-day,
.col-date,
.col-outlook,
.col-temp,
.col-dewpoint,
.col-humidity,
.col-wind,
.col-sun,
.col-moon,
.col-moonphase,
.col-pop,
.col-precip,
.col-obvis {
  width: 8%;
}
.col-tides {
  width: 15%;
}
*/
